@font-face {
    font-family: 'Futura Round';
    src: url('FuturaRound-Demi.woff2') format('woff2'),
        url('FuturaRound-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

